* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #070a0e;
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  min-height: 100vh;
}
